:root {
	/* all colors */
	--light: #ffffff;
	--light-red: #d45952;
	--grey: #707070;
	--dark-navy: #020554;
	--light-orange: #ff6b63;
	--light-purple: #b670ff;
	--blue-white: #f1f1fc;

	/* font-family */
	--font-sans: 'Calibre', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
	--font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

	/* font-sizes */
	--fz-logo: 35px;
	--fz-link: 18px;

	/* font-weight */
	--fw-logo: 700;
	--fw-link-active: 400;
}

* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--font-sans);
}

a {
	text-decoration: none;
	color: unset;
}

.app {
	padding: 3em 2em;
}

.d-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* when link is active */
.active {
	font-weight: var(--fw-link-active);
	color: var(--light-orange);
}
