.nav {
	padding-bottom: 2em;
}

.logo {
	color: var(--dark-navy);
	font-size: var(--fz-logo);
	font-weight: var(--fw-logo);
}

.links ul {
	list-style-type: none;
}

.links ul li {
	margin-left: 2em;
	font-size: var(--fz-link);
}
